$color-white: #cfd8dc;
$color-black: #262626;
$color-grey-1: #e8e8e8;
$color-error: rgb(190, 68, 68);

$color-primary: #0d0d10;
$color-secondary: #22222a;

$nav-height: 50px;
$grid-gap: 2rem;

$border-white: 1px solid $color-white;
$border-dark: 1px solid $color-white;
